@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body{
    font-family: 'Times New Roman', Times, serif;

}
section{
    overflow-x: hidden;
}
ul, li{
    list-style: none;
    margin:0;
    padding: 0;
}
.header-bg .nav-link{
    border:2px transparent solid !important;
    color: #fff;
}
.header-bg .nav-link:hover, .nav-link.active{
    border-color:#fff !important;
    color: #fff;
    background-color: transparent !important;
}
.custom-bold{
    font-weight: bold;
}
.custom-bold a{
    color: #000;
}
.top-social{
    background-color: #C9CFDC;
}
.top-social .bi-facebook{
    color: #4267B2;
}
.top-social .bi-twitter-x{
    color: #FFF;
}
.top-social .bi-youtube{
    color: #FF0000;
}
.top-social .bi-linkedin{
    color: #0077b5;
}
.header-bg{
    background-color: #0C577B;
}
.logo-size{
    width: 140px;
}
.nav-pills{
    
    font-size: 17px;
    font-weight: bold;
}
.nav-pills a{
    color: #fff;
}
.navbar-nav .nav-link.active{
    color: #fff;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
#myCarousel {
    overflow:hidden;
    max-height: 700px;
}
#myCarousel .carousel-caption{
    top:5%
}
h1{
    position:relative;
    font-weight: 700;
}
h1::after{
    content: "";
    position:absolute;
    border-bottom:7px #F99D22 solid;
    bottom: -0.5rem;
    left: 0;
    width:100px;
}
.program, footer{
    background:url("../images/tree_bg.png");
    position:relative;

    background:
    linear-gradient(
      rgba(0,0,0, 0.70),
      rgba(0,0,0, 0.70)
    ),
    url("../images/tree_bg.png");
  background-position: center center;
  background-size: cover;
  color: #fff;
}



.extraCarousel .carousel-control-next, .extraCarousel .carousel-control-prev{
    width:3%;
}
@media (max-width: 480px){
    .extraCarousel .carousel-control-next, .extraCarousel .carousel-control-prev{
        width:10%;
    }
}

@media (max-width: 767px) {
    .extraCarousel .carousel-inner .carousel-item > div {
        display: none;
    }
    .extraCarousel .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
    .extraCarousel .carousel-control-next, .extraCarousel .carousel-control-prev{
        width:10%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .extraCarousel .carousel-inner .carousel-item > div {
        display: none;
    }
    .extraCarousel .carousel-inner .carousel-item > div:nth-child(1), .extraCarousel .carousel-inner .carousel-item > div:nth-child(2) {
        display: block;
    }
    .extraCarousel .carousel-control-next, .extraCarousel .carousel-control-prev{
        width:10%;
    }
}


.extraCarousel .carousel-inner .carousel-item.active,
.extraCarousel .carousel-inner .carousel-item-next,
.extraCarousel .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 992px) {
    
    .extraCarousel .carousel-inner .carousel-item-end.active,
    .extraCarousel .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .extraCarousel .carousel-inner .carousel-item-start.active, 
    .extraCarousel .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.extraCarousel .carousel-inner .carousel-item-end,
.extraCarousel .carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

.extraCarousel .card{
    margin-right: 15px;
    border-radius: 0;
    
}
.icon-circle{
    width: 120px;
    height: 120px;
    position: relative;
    top: 30px;
    background-color: #F99D22;
}
.minHeight50{
    min-height: 50px;;
}
.publications, .IsapVideo{
    background: #C1D3DC;
}
.socialBorders::before{
    content:"";
    border:1px #ccc solid;
    width:300px;
    position:absolute;
    left:0;
}
.socialBorders::after{
    content:"";
    border:1px #ccc solid;
    width:300px;
    position:absolute;
    right:0;
}
.blueBg{
    background:#0C577B;
}
.whatsnew{
    background:url("../images/newsBg.jpg");
    position:relative;

    background:
    linear-gradient(
      rgba(0,0,0, 0.70),
      rgba(0,0,0, 0.70)
    ),
    url("../images/newsBg.jpg");
  background-position: center center;
  background-size: cover;
  color: #fff;
}
.navbar-toggler{
    background-color: #fff;
}
@media (max-width: 991px) {
    .brandNav{
        display: flex;
        justify-content: space-between;
        width:100%;
    }
    .header-bg .navbar-nav{
        width:100%
    }
}
@media (max-width: 768px) {
    .socialBorders::before , .socialBorders::after{
        width:150px;
    }
    .slider .fs-5{
        font-size:12px !important;
    }
    .slider h1{
        font-size:16px !important;
    }
    .slider p{
        margin:10px 0 !important;
    }
    #myCarousel .carousel-caption {
        top: 0;
    }
    .brandNav{
        display: flex;
        justify-content: space-between;
        width:100%;
    }
    .header-bg .navbar-nav{
        width:100%
    }
}

@media (max-width: 576px) {
    .slider .fs-5{
        font-size:11px !important;
    }
    .slider h1{
        font-size:14px !important;
    }
    .brandNav{
        display: flex;
        justify-content: space-between;
        width:100%;
    }
    .btn{
        font-size:14px;
        padding:4px;
    }
    .socialBorders::before, .socialBorders::after {
        width: 45px;
    }
    #myCarousel {
        min-height: 300px;
    }
    .slider .img-fluid {
        height: 300px;
    }
    .slider video{
        object-fit: initial;
        height: 300px;
      }
}
/* Sweep To Top */
.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
    color: #0C577B !important;
  }
  .hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
 /* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  /* Sweep To Bottom */
.hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
    color: white;
  }
  .hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  